﻿table{
    border-collapse: collapse;
    font-size: 24px;
}

tr > th{
    background-color: #8529b6;
    color: white;
}

td, th{
    padding: 5px 10px;
}

th:first-child, td:nth-child(2n+1){
    text-align: center;
    color: white;
}

td:last-child{
    box-shadow: -6px 0 0 -4px #c86666;
    color: #c86666;
    font-weight: bold;
}

td:nth-child(2), th:nth-child(2){
    text-align: left;
    padding-right: 30px;
}

tr:nth-child(2n+1){
    background-color: #ceb8c6;
}

tr:nth-child(2n){
    background-color: #e7d8ff;
}