﻿input#control {
    display: none;
}

/*nav block*/
nav {
    width: 360px;
    background: #61bb68;
    padding: 14px 10px;
}

nav::after {
    display: block;
    content: "";
    clear: both;
}

.fix-block{
    clear: both;
}

/*menu entity*/
ul{
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0;
    float: right;
    list-style-type: none;
    transition: 0.5s;
}

a.menu-item{
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    color: #dbdbdb;
    padding: 10px 50px;
}

a.menu-item:hover{
    color: white;
}

input:checked ~ ul{
    visibility: visible;
    height: 260px;
    opacity: 1;
    transition: 0.5s;
}

/*control*/
label {
    position: relative;
    cursor: pointer;
    height: 32px;
    width: 46px;
    float: right;
    box-shadow: 
        inset 0 14px 0 0 #61bb68,
        inset 0 18px 0 0 white;
    transition: 0.5s;
}

label::before, label::after {
    display: inline-block;
    content: "";
    position: absolute;
    background-color: white;
    width: 46px;
    height: 4px;
    transition: all 0.5s;
}

label::after {
    top: 28px;
}

input:checked + label{
    box-shadow: inset 0 18px 0 0 #61bb68;
    transition: 0.5s;
}

input:checked + label::after {
    -webkit-transform: translate(0, -14px) rotate(-45deg);
    transform: translate(0, -14px) rotate(-45deg);
    transition: 0.5s;
}

input:checked + label::before {
    -webkit-transform: translate(0, 14px) rotate(45deg);
    transform: translate(0, 14px) rotate(45deg);
    transition: 0.5s;
}
