* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 960px;
    height: 960px;
    outline: 2px dashed gray;
    margin: 60px;
    display: flex;
    flex-flow: row wrap;
}

div {
    height: 240px;
    width: 240px;
}

div:nth-child(1) {
    transform: translate(240px, 240px) rotate(90deg);
    background: url("images/1_06.png");
}

div:nth-child(2) {
    transform: translateY(480px) rotate(180deg);
    background: url("images/1_10.png");
}

div:nth-child(3) {
    transform: rotate(-90deg);
    background: url("images/1_03.png");
}

div:nth-child(4) {
    transform: translate(-720px, 240px) rotate(180deg);
    background: url("images/1_05.png");
}

div:nth-child(5) {
    transform: translateY(480px) rotate(-90deg);
    background: url("images/1_13.png");
}

div:nth-child(6) {
    transform: translate(-240px, -240px);
    background: url("images/1_01.png");
}

div:nth-child(7) {
    transform: translate(-480px, 240px);
    background: url("images/1_09.png");
}

div:nth-child(8) {
    transform: rotate(90deg);
    background: url("images/1_08.png");
}

div:nth-child(9) {
    transform: translate(720px, -480px) rotate(180deg);
    background: url("images/1_04.png");
}

div:nth-child(10) {
    transform: translateY(-480px) rotate(90deg);
    background: url("images/1_02.png");
}

div:nth-child(11) {
    transform: rotate(90deg);
    background: url("images/1_11.png");
}

div:nth-child(12) {
    transform: translateY(240px) rotate(90deg);
    background: url("images/1_16.png");
}

div:nth-child(13) {
    transform: translateX(480px);
    background: url("images/1_15.png");
}

div:nth-child(14) {
    transform: rotate(180deg);
    background: url("images/1_14.png");
}

div:nth-child(15) {
    transform: translate(240px, -240px) rotate(-90deg);
    background: url("images/1_12.png");
}

div:nth-child(16) {
    transform: translate(-240px, -480px) rotate(180deg);
    background: url("images/1_07.png");
}
