﻿input[type="radio"], input[type="checkbox"] {
    display: none;
}

label {
    color: #a8a8a8;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}

label:hover {
    color: #585858;
}

span {
    vertical-align: middle;
}

/*Custom radio*/
.radio-label::before {
    display: inline-block;
    content: "";
    background-color: #b92626;
    width: 16px;
    height: 16px;
    box-shadow: inset 0 0 0 8px white, 0 0 0 2px #a8a8a8;
    border: none;
    border-radius: 50%;
    margin: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.radio-label:hover::before {
    box-shadow: inset 0 0 0 8px white, 0 0 0 2px #585858;
    transition: 0.5s;
}

input:checked + .radio-label::before {
    box-shadow: inset 0 0 0 3px white, 0 0 0 2px #b92626;
    transition: box-shadow 0.7s;
}

/*Custom checkbox*/
.checkbox-label::before {
    display: inline-block;
    content: "";
    background-color: #c6c6c6;
    width: 16px;
    height: 16px;
    margin: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 2px;
}

.checkbox-label:hover::before {
    background-color: #a7a7a7;
    transition: 0.5s;
}

.checkbox-label span::before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    content: "";
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

input:checked + .checkbox-label::before {
    background-color: #8a57ad;
    transition: 0.7s;
}

input:checked + .checkbox-label span::before {
    visibility: visible;
    transform: translate(24px, 3px) rotate(25deg);
    transition: 0.3s;
}
